:host{
  margin-bottom: 64px;
}

.demo{
  margin: 64px 8px;

  h2{
    margin-bottom: 32px;
  }
}

uxl-grid {
  --uxl-grid-order-icon-color: #{green};
  --uxl-grid-order-icon-width: 16px;
  --uxl-grid-order-icon-height: 16px;
}


uxl-grid::part(header__cell) {
  background-color: red;
  font-size: 20px;
}

uxl-grid::part(content-cell) {
  color: red !important;
  font-size: 20px;
}

uxl-grid::part(content__cell-1) {
  background-color: lightgray;
}

uxl-grid::part(content__cell-2) {
  background-color: #E5E5E5;
}
