@import "../../src/components/uxl-grid/styles";

:host {
  margin-bottom: 64px;
  min-height: 1px;
  height: 100%;
}


.demo {
  margin: 32px 8px;
  height: 100%;
  min-height: 1px;

  h2 {
    margin-bottom: 32px;
  }
}

uxl-grid {
  --uxl-grid-order-icon-color: #{green};
  --uxl-grid-order-icon-width: 16px;
  --uxl-grid-order-icon-height: 16px;
  --uxl-grid-row-color: blue;
  --uxl-grid-row-hover-color: ghostwhite;
  --uxl-grid-row-disabled-color: grey;
  --uxl-grid-row-disabled-background-color: snow;
}


uxl-grid::part(header__cell) {
  background-color: orange;
  font-size: 16px;
  text-transform: uppercase;

  @include phone {
    padding: 0;
  }
}

uxl-grid::part(content__row) {

  @include phone {
    padding: 16px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 24px;
    height: 50px;
  }
}

uxl-grid::part(content__cell) {
  background-color: lightcyan;
}

uxl-grid::part(content__cell-2) {
  @include phone {
    display: none;
  }
}


