@import "~@uxland/uxl-style-utilities/src/uxl-mediaqueries-styles";

:host {
  min-height: 1px;
  height: 100%;
}

$min-grid: calc((var(--grid-width) - 32px) / var(--number-columns));


@mixin format-grid {
  display: grid;
  @include phone {
    gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  }
  @include tablet {
    gap: var(--uxl-grid-gap, 16px);
    grid-template-columns: repeat(auto-fit, minmax(#{$min-grid}, 1fr));
  }
}

.header {
  @include format-grid;
  border-bottom: 1px solid grey;

  @include phone {
    display: none;
  }

  .header__cell {
    @include layout;
    padding: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .icon {
      padding-left: var(--uxl-grid-order-separator, .5rem) !important;

      svg {
        fill: var(--uxl-grid-order-icon-color, blue);
        width: var(--uxl-grid-order-icon-size, 1rem) !important;
        height: var(--uxl-grid-order-icon-size, 1rem) !important;
      }
    }
  }
}

#grid {
  height: 100%;
  min-height: 1px;
}

.content {
  height: 100%;
  min-height: 1px;

  .card {
    display: none;
    @include phone {
      display: flex;
    }
  }

  .content__row {
    @include format-grid;
    border-bottom: 1px solid grey;
    color: var(--uxl-grid-row-color);
    width: 100%;

    .card--enabled {
      @include phone {
        display: none;
      }
    }

    &:hover:not(.disabled) {
      background-color: var(--uxl-grid-row-hover-color);
      cursor: pointer;
    }

    &.disabled {
      color: var(--uxl-grid-row-disabled-color);
      background-color: var(--uxl-grid-row-disabled-background-color);
    }

    .content__cell {
      padding: 16px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include phone {
        padding: 0;
      }
    }
  }
}

lit-virtualizer {
  min-height: 1px;
  height: 100%;
  overflow: var(--uxl-grid-overflow, auto);

  @include desktop {
  overflow: var(--uxl-grid-overflow, overlay);
  }
}
