<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Uxl Grid</title>
    <script src="/demo/settings.js"></script>
    <script>
      document.addEventListener(
        "WebComponentsReady",
        function componentsReady() {
          document.removeEventListener("WebComponentsReady", componentsReady, false);
          var script = document.createElement("script");
          script.async = true;
          script.src = '<%= htmlWebpackPlugin.files.chunks["main"].entry %>';
          var refScript = document.body.getElementsByTagName("script")[0];
          refScript.parentNode.insertBefore(script, refScript);
        },
        false
      );
    </script>
  </head>
  <body>
    <style>
		
		uxl-grid {
			--uxl-grid-icon-color: #{#CC0000};
		}
		
		uxl-grid::part(table__row-cell-2) {
			color: red;
		}
		
	</style>
    <script defer src="<%= htmlWebpackPlugin.options.paths.webcomponents %>"></script>
    <div>UXL-Grid demo</div>
    <div class="content"></div>
  </body>
</html>
