:host {
  min-height: 1px;
  height: 100%;
}

@mixin format-grid {
  display: grid;
  gap: var(--uxl-grid-gap, 16px);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.header {
  @include format-grid;

  .header__cell {
    text-transform: uppercase;

    iron-icon {
      --iron-icon-fill-color: var(--uxl-grid-order-icon-color);
      --iron-icon-width: var(--uxl-grid-order-icon-width);
      --iron-icon-height: var(--uxl-grid-order-icon-height);
    }
  }
}

.content {
  .content__row {
    @include format-grid;
    border-bottom: 1px solid grey;
    color: var(--uxl-grid-row-color);

    &:hover:not(.disabled) {
      background-color: var(--uxl-grid-row-hover-color);
      cursor: pointer;
    }

    &.disabled {
      color: var(--uxl-grid-row-disabled-color);
      background-color: var(--uxl-grid-row-disabled-background-color);
    }

    .content__cell {
      padding: 16px 0;
    }
  }
}
